@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: calc(20% - 20px);
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    position: relative;
    height: 175px;
    display: flex;
    flex-direction: column; /* Stack image and text */
    justify-content: flex-start; /* Align items at the top */
    overflow: hidden;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Add transform to the transition */
}

.box:hover {
  transform: scale(1.05); /* Grow the box slightly */
  background-color: #fff; /* Keep the background color same */
}

a {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0; /* Remove margin to stick image to the top */
    padding: 30px 20px 5px;
}

.text-container {
    position: absolute;
    bottom: 1px;
    width: 100%;
    background-color: #f0f0f0;
    padding: 5px;
    font-weight: bold;
    font-size: 0.9em;
    text-align: center;
}

@media (max-width: 768px) {
    .box {
        width: calc(45% - 20px);
    }
}

@media (max-width: 480px) {
    .box {
        width: calc(100% - 20px);
    }
}
